<div class="container">
  <div class="row offset-3">
    <%= @skills.each do |skill| %>
      <div class="col-1">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Ruby</title><path d="<%= skill.image %>"/></svg>
        <div class="d-flex align-items-center justify-content-center">
          <%= skill.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>