
<div class="container">
  <div class="row pt-4">
    <div class="col-5">
      <h1>学習日数：123</h1>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-5">
      <canvas id="myChart1"></canvas>
    </div>
    <div class="col-5 offset-1">
      <canvas id="myChart2"></canvas>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-5">
      <canvas id="myChart3"></canvas>
    </div>
    <div class="col-5 offset-1">
      <canvas id="myChart4"></canvas>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>draw_graph();</script>

